<header class="flex justify-center py-5 mb-5">
  <nav>
    <ul class="flex flex-wrap justify-center font-normal gap-x-4">
      <li class="shrink-0"><a class="font-heading" href="/"><%= site.metadata.title %></a></li>
      <li><%= link_to "Articles", "articles.md" %></li>
      <li><%= link_to "Podcast", "podcast.md" %></li>
      <li><%= link_to "Consulting", "consulting.md" %></li>
      <li><%= link_to "About", "about.md" %></li>
    </ul>
  </nav>
</header>
